.tariffs-container {
  display: flex;
  flex-direction: column;
  background: #607d96;

  .content-info {
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 70px;
    margin: 0;

    h1 {
      font-size: 50px;
      font-weight: 600;
      color: #fff;
      margin: 0;
    }

    h3 {
      font-size: 30px;
      color: #fff;
      padding: 40px 0;
      margin: 0;
    }

    .buttons {
      margin-bottom: 40px;

      .getStarted {
        height: 60px;
        width: 160px;
        font-size: 20px;
        font-weight: 600;
        color: #fff;
        text-transform: uppercase;
        background: #425667;
        border: none;
        border-radius: 5px;
        margin: 0 10px 0 0;
        transition: all 0.3s ease;

        &:hover {
          background: #313f4c;
        }

        &:active {
          background: #425667;
        }
      }

      .viewPlans {
        height: 60px;
        width: 160px;
        font-size: 20px;
        font-weight: 600;
        color: #fff;
        text-transform: uppercase;
        background: none;
        border: 3px solid #fff;
        border-radius: 5px;
        margin: 0;
        transition: all 0.3s ease;

        &:hover {
          color: rgb(224, 138, 19);
          border: 3px solid rgb(224, 138, 19);
        }

        &:active {
          color: #fff;
          border: 3px solid #fff;
        }
      }
    }

    .terms {
      font-size: 12px;
      color: #fff;

      span {
        color: #fff;
        text-decoration: underline;
        cursor: pointer;
        transition: all 0.3s ease;

        &:hover {
          color: rgb(224, 138, 19);
        }

        &:active {
          color: #fff;
        }
      }
    }
  }

  .tariffs {
    background: rgb(234, 234, 234);

    .headline {
      font-size: 35px;
      color: rgb(99, 99, 99);
      text-align: center;
      margin: 50px 0;
    }

    .tariffs-buttons {
      width: 800px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0 auto;
      padding: 0 20px;

      .tariff-button {
        height: 50px;
        width: 150px;
        position: relative;
        font-size: 20px;
        text-transform: uppercase;
        background: #fff;
        color: rgb(99, 99, 99);
        border: none;
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
        border: 0.5px solid rgb(210, 210, 210);
        border-bottom: none;
        transition: all 0.3s ease;

        &:hover {
          color: rgb(212, 124, 0);
        }

        &:active {
          color: rgb(99, 99, 99);
        }
      }

      .selected {
        color: rgb(212, 124, 0);
        border: 0.5px solid grey;
        border-bottom: none;

        &::after {
          width: 100%;
          height: 20px;
          content: "";
          position: absolute;
          top: 40px;
          left: 0;
          background: #fff;
        }
      }
    }

    .tariff-container {
      display: flex;
      justify-content: center;
      background: #fff;
      border-top: 0.5px solid grey;
      margin: 0;

      .tariff-subcontainer {
        width: 400px;
        display: flex;
        flex-direction: column;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0px 1px 12px rgb(162, 162, 162);
        background: rgb(234, 234, 234);
        margin: 20px;
        transition: all 0.3s ease;

        &:hover {
          transform: scale(105%);
        }

        h5 {
          height: 30px;
          width: 100px;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 14px;
          font-weight: 600;
          color: #fff;
          background: #607d96;
          border-radius: 5px;
          margin: 0;
        }

        h1 {
          font-size: 25px;
          font-weight: 600;
          text-transform: capitalize;
          color: rgb(61, 61, 61);
          padding: 10px 0;
          margin: 0;
        }

        h3 {
          color: rgb(61, 61, 61);
          margin: 0;
        }

        h4 {
          color: rgb(61, 61, 61);
          margin: 0 0 10px 0;
        }

        .separator {
          border-top: 0.5px solid rgb(175, 175, 175);
          margin: 0 0 10px 0;
        }

        ul {
          color: rgb(61, 61, 61);
          font-size: 16px;
          margin: 0;
        }

        button {
          height: 50px;
          width: 100%;
          font-size: 20px;
          font-weight: 600;
          color: #fff;
          text-transform: uppercase;
          background: #425667;
          border: none;
          border-radius: 5px;
          margin: 40px auto 10px;
          transition: all 0.3s ease;

          &:hover {
            background: #313f4c;
          }

          &:active {
            background: #425667;
          }
        }

        p {
          font-size: 12px;
          color: rgb(61, 61, 61);
          margin: 0;

          span {
            text-decoration: underline;
            cursor: pointer;
            transition: all 0.3s ease;

            &:hover {
              color: rgb(224, 138, 19);
            }

            &:active {
              color: rgb(61, 61, 61);
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 850px) {
  .tariffs-container {
    .content-info {
      height: auto;
      padding: 80px 50px;

      h1 {
        font-size: 40px;
        line-height: 40px;
      }

      h3 {
        font-size: 25px;
      }

      .buttons {
        .getStarted {
          height: 50px;
          width: 150px;
        }

        .viewPlans {
          height: 50px;
          width: 150px;
        }
      }
    }

    .tariffs {
      .headline {
        font-size: 20px;
        margin: 30px 0;
        padding: 0 20px;
      }

      .tariffs-buttons {
        width: 100%;
        padding: 0 50px;

        .tariff-button {
          height: 40px;
          width: 100px;
          font-size: 16px;
        }

        .selected {
          &::after {
            height: 10px;
            top: 35px;
            background: #fff;
          }
        }
      }

      .tariff-container {
        .tariff-subcontainer {
          &:hover {
            transform: scale(105%);
          }

          h1 {
            font-size: 20px;
          }

          h3 {
            font-size: 14px;
          }

          h4 {
            font-size: 14px;
          }

          ul {
            font-size: 14px;
          }

          button {
            height: 40px;
            width: 100%;
            font-size: 16px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 550px) {
  .tariffs-container {
    .content-info {
      padding: 60px 20px;

      h1 {
        font-size: 30px;
        line-height: 30px;
      }

      h3 {
        font-size: 20px;
      }

      .buttons {
        .getStarted {
          height: 30px;
          width: 100px;
          font-size: 14px;
        }

        .viewPlans {
          height: 30px;
          width: 100px;
          font-size: 14px;
        }
      }

      .terms {
        font-size: 12px;
      }
    }

    .tariffs {
      .headline {
        font-size: 20px;
        margin: 30px 0;
        padding: 0 20px;
      }

      .tariffs-buttons {
        width: 100%;
        padding: 0 20px;

        .tariff-button {
          height: 35px;
          width: 70px;
          font-size: 12px;
        }

        .selected {
          &::after {
            top: 30px;
          }
        }
      }

      .tariff-container {
        .tariff-subcontainer {
          &:hover {
            transform: scale(105%);
          }

          h1 {
            font-size: 16px;
          }

          h3 {
            font-size: 14px;
          }

          h4 {
            font-size: 14px;
          }

          ul {
            font-size: 14px;
          }

          button {
            height: 40px;
            width: 100%;
            font-size: 14px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 330px) {
  .tariffs-container {
    .content-info {
      padding: 40px 10px;
    }

    .tariffs {
      .headline {
        font-size: 20px;
        margin: 30px 0;
        padding: 0 10px;
      }

      .tariffs-buttons {
        padding: 0 10px;
      }

      .tariff-container {
        .tariff-subcontainer {
          margin: 10px;
        }
      }
    }
  }
}
