.notification-container {
  width: 400px;
  display: flex;
  flex-direction: column;
  background: rgb(66, 86, 103);
  border-radius: 10px;
  overflow: hidden;

  .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background: rgb(56, 161, 114);

    span {
      font-size: 60px;
      padding: 5px;
    }
  }

  .successIcon {
    background: rgb(56, 161, 114);
  }

  .errorIcon {
    background: rgb(201, 61, 61);
  }

  p {
    font-size: 16px;
    color: #fff;
    text-align: center;
    margin: 0;

    &:nth-of-type(1) {
      margin: 20px 0 10px;
    }

    &:nth-of-type(2) {
      font-size: 14px;
      color: #d8d8d8;
      margin-bottom: 20px;
    }
  }

  button {
    height: 40px;
    background: rgb(56, 161, 114);
    margin: 0 20px 20px;
    border: none;
    border-radius: 5px;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
      background: rgb(46, 136, 95);
    }

    &:active {
      background: rgb(56, 161, 114);
    }
  }

  .successButton {
    background: rgb(56, 161, 114);
  }

  .errorButton {
    background: rgb(201, 61, 61);

    &:hover {
      background: rgb(175, 52, 52);
    }

    &:active {
      background: rgb(201, 61, 61);
    }
  }
}
