.footer-container {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: solid 0.5px rgb(201, 201, 201);

  p {
    font-size: 16px;
    font-weight: 300;
    color: #425667;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    letter-spacing: 3px;
  }
}

@media screen and (max-width: 850px) {
  .footer-container {
    p {
      font-size: 14px;
      padding: 0 20px;
    }
  }
}

@media screen and (max-width: 550px) {
  .footer-container {
    height: 60px;
  }
}
