.notFound-container {
  width: 400px;
  background: rgb(66, 86, 103);
  border-radius: 5px;

  p {
    font-size: 16px;
    color: #fff;
    text-align: center;
    padding: 30px 10px;

    a {
      color: #bababa;
    }
  }
}
