<div class="newDetails-container">
  <button class="back">
    <span class="material-symbols-outlined"> arrow_back_ios </span>
    <p (click)="goBack()">go back</p>
  </button>
  <div class="newDetailsImage">
    <img [src]="newDetails && newDetails.imgSrc" alt="alt" />
  </div>
  <p class="date">Published at: {{ newDetails && newDetails.date }}</p>
  <h3>
    {{ newDetails && newDetails.title }}
  </h3>
  <p class="content">
    {{ newDetails && newDetails.content }}
  </p>
  <div class="bottom-pannel">
    <a target="_blank" [href]="newDetails && newDetails.url"
      >read full article</a
    >
    <p class="author">{{ newDetails && newDetails.author }}</p>
  </div>
  <div class="separator"></div>
  <p class="comments">
    {{ comments.length }}
    {{ comments.length > 1 || comments.length === 0 ? "comments" : "comment" }}
  </p>
  <app-comment
    *ngFor="let comment of comments; let i = index"
    photoSrc="https://i.ibb.co/wMkxg73/no-photo.png"
    nickname="admin"
    [text]="comment.text"
    [index]="i"
    [currentUrl]="currentUrl"
    [date]="comment.date"
    [newDetails]="newDetails"
    [comments]="this.comments"
  ></app-comment>
  <div class="writeComment">
    <input [(ngModel)]="commentText" type="text" placeholder="Your comment" />
    <button (click)="handleClickOnSend(currentUrl, commentText)">
      <span class="material-symbols-outlined"> send </span>
    </button>
  </div>
</div>
