.newDetails-container {
  padding: 30px 70px;

  .back {
    width: 95px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    background: none;
    border: none;
    color: rgb(101, 101, 101);
    transition: all 0.3s ease;

    &:hover {
      color: rgb(212, 124, 0);
    }

    p {
      font-size: 16px;
      text-transform: uppercase;
      margin: 0;
    }
  }

  .newDetailsImage {
    height: 400px;
    width: 600px;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  .date {
    font-size: 16px;
    color: grey;
    padding: 10px 0;
    margin: 0;
  }

  h3 {
    font-size: 20px;
    font-weight: 600;
    color: rgb(101, 101, 101);
    padding-bottom: 20px;
    margin: 0;
  }

  .content {
    font-size: 16px;
    color: rgb(101, 101, 101);
    margin: 0;
  }

  .bottom-pannel {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px 0;

    .author {
      font-size: 16px;
      font-weight: 600;
      color: rgb(71, 71, 71);
      margin: 0;
    }

    a {
      font-size: 14px;
      color: #fff;
      background: rgb(212, 124, 0);
      text-decoration: none;
      text-transform: uppercase;
      border-radius: 5px;
      padding: 5px;
      transition: all 0.3s ease;

      &:hover {
        background: rgb(184, 107, 0);
      }
    }
  }

  .separator {
    width: 100%;
    border-bottom: 0.5px solid rgb(194, 194, 194);
    padding: 0 70px;
  }

  .comments {
    font-size: 16px;
    color: rgb(101, 101, 101);
    padding: 20px 0;
    margin: 0;
  }

  .writeComment {
    position: relative;

    input {
      height: 50px;
      width: 100%;
      color: rgb(66, 66, 66);
      font-size: 16px;
      border: none;
      border-radius: 5px;
      padding: 20px 40px 20px 20px;

      &:focus {
        outline: 0.5px solid rgb(212, 124, 0);
      }

      &::placeholder {
        color: rgb(159, 159, 159);
      }
    }

    button {
      position: absolute;
      top: 22%;
      left: 96%;
      border: none;
      background: none;
      color: rgb(66, 66, 66);
      transition: all 0.3s ease;

      &:hover {
        color: rgb(212, 124, 0);
      }

      span {
        font-size: 30px;
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .newDetails-container {
    .writeComment {
      button {
        left: 95%;
      }
    }
  }
}

@media screen and (max-width: 850px) {
  .newDetails-container {
    padding: 30px 50px;

    .back {
      width: 80px;

      span {
        font-size: 20px;
      }

      p {
        font-size: 14px;
      }
    }

    .date {
      font-size: 14px;
    }

    h3 {
      font-size: 16px;
    }

    .content {
      font-size: 14px;
    }

    .bottom-pannel {
      .author {
        font-size: 14px;
      }
    }

    .comments {
      font-size: 14px;
    }

    .writeComment {
      input {
        font-size: 14px;
      }

      button {
        left: 94%;
      }
    }
  }
}

@media screen and (max-width: 750px) {
  .newDetails-container {
    .newDetailsImage {
      height: 200px;
      width: 300px;
    }
  }
}

@media screen and (max-width: 650px) {
  .newDetails-container {
    .writeComment {
      button {
        left: 92%;
      }
    }
  }
}

@media screen and (max-width: 550px) {
  .newDetails-container {
    padding: 20px;
  }
}

@media screen and (max-width: 450px) {
  .newDetails-container {
    .writeComment {
      button {
        left: 90%;
      }
    }
  }
}

@media screen and (max-width: 380px) {
  .newDetails-container {
    .newDetailsImage {
      height: 150px;
      width: 200px;
    }

    .writeComment {
      button {
        left: 88%;
      }
    }
  }
}

@media screen and (max-width: 330px) {
  .newDetails-container {
    padding: 20px 10px;

    .bottom-pannel {
      a {
        font-size: 12px;
      }
    }

    .writeComment {
      button {
        left: 85%;
      }
    }
  }
}
