<div class="about-countainer" id="about-container">
  <h1>about us</h1>
  <div class="ourStory">
    <div class="separator"></div>
    <h3>our philosophy</h3>
    <div class="separator"></div>
  </div>
  <p>
    Welcome to our news website, which has become an ideal source of information
    for those who crave to stay updated on all current events. Regardless of
    your interests, you will find a wide range of news from various spheres,
    covering the world of politics, science, sports, culture, technology, and
    much more. We strive to provide you with high-quality materials that are
    informative, educational, and inspiring.
    <br />
    <br />
    Our news website offers a vast variety of news articles from different
    fields to satisfy the interests of diverse readers. If you are interested in
    political events and geopolitics, our journalists will always keep you
    informed about the latest developments on the global stage. We also provide
    detailed reports on scientific discoveries, research, and cutting-edge
    technologies to keep you abreast of scientific achievements. For sports
    enthusiasts, we offer the latest news on competitions, transfers, athletes'
    achievements, and teams. Whether it's football, basketball, tennis, golf, or
    any other sport, our website covers all the important moments and brings you
    the most interesting stories from the world of sports.
  </p>
</div>
