.news-container {
  .banner {
    height: 600px;
    width: 100%;
    position: relative;

    p {
      width: 1000px;
      position: absolute;
      z-index: 0;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: #425667;
      text-transform: uppercase;
      font-size: 50px;
      font-weight: 300;
      line-height: 50px;
      margin: 0;
      text-align: center;

      span {
        font-size: 25px;
        font-weight: 300;
        text-transform: none;
      }
    }

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      object-position: top;
    }
  }

  h2 {
    position: relative;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    color: grey;
    letter-spacing: 5px;
    padding: 40px;
    margin: 0;

    a {
      position: absolute;
      top: 30px;
      left: 70px;
      font-size: 16px;
      text-transform: uppercase;
      border-radius: 5px;
      padding: 5px 10px;
      text-decoration: none;
      background: rgb(212, 124, 0);
      color: #fff;
      letter-spacing: 0;
      transition: all 0.3s ease;

      &:hover {
        background: rgb(187, 109, 0);
      }

      &:active {
        background: rgb(212, 124, 0);
      }
    }
  }

  .selectorsHeadlines {
    height: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 180px;
    margin: 0 70px;

    span {
      height: 100%;
      font-size: 16px;
      color: grey;
      text-transform: uppercase;
      letter-spacing: 2px;
    }
  }

  .newsSelectors {
    height: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 185px;
    margin: 0 70px 20px;

    select {
      height: 100%;
      border: solid 0.5px rgb(201, 201, 201);
      background: #fff;
      color: rgb(170, 170, 170);
      font-size: 16px;
      text-transform: uppercase;
      letter-spacing: 2px;
      padding: 10px;
      cursor: pointer;
      appearance: none;
      background-image: url("../../../../../assets/arrow.png");
      background-origin: content-box;
      background-position: right center;
      background-repeat: no-repeat;
      background-size: 16px;
      border-radius: 5px;
    }

    .search {
      height: 100%;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-between;

      input {
        height: 100%;
        width: 100%;
        border: solid 0.5px rgb(201, 201, 201);
        background: #fff;
        color: rgb(170, 170, 170);
        font-size: 16px;
        letter-spacing: 2px;
        padding: 10px 45px 10px 10px;
        border-radius: 5px;

        &::placeholder {
          color: rgb(170, 170, 170);
          font-size: 16px;
          text-transform: uppercase;
          letter-spacing: 2px;
          padding: 10px;
        }

        &:focus {
          border: 0.5px solid rgb(212, 124, 0);
        }
      }

      button {
        cursor: pointer;
        position: absolute;
        top: 20%;
        left: 83%;
        background: none;
        border: none;

        span {
          font-size: 30px;
          color: rgb(170, 170, 170);
          transition: all 0.3s ease;

          &:hover {
            transform: scale(120%);
          }

          &:active {
            transform: scale(100%);
          }
        }
      }
    }
  }

  .empty-news {
    color: grey;
    font-size: 16px;
    padding: 20px 70px;
    margin: 0;
  }

  .news {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    padding: 20px 70px 0;
  }

  .pagination-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0;

    .pagination ::ng-deep .ngx-pagination {
      margin: 0;
    }

    .pagination ::ng-deep .ngx-pagination li a {
      font-size: 16px;
      color: rgb(94, 94, 94);
      transition: all 0.3s ease;

      &:hover {
        color: #fff;
        background: rgb(170, 170, 170);
        border-radius: 5px;
      }
    }

    .pagination ::ng-deep .ngx-pagination .current {
      font-size: 16px;
      background: rgb(100, 100, 100);
      border-radius: 5px;
    }
  }
}
