.news-container {
  .banner {
    height: 600px;
    width: 100%;
    position: relative;

    p {
      width: 1000px;
      position: absolute;
      z-index: 0;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: #425667;
      text-transform: uppercase;
      font-size: 50px;
      font-weight: 300;
      line-height: 50px;
      margin: 0;
      text-align: center;

      span {
        font-size: 25px;
        font-weight: 300;
        text-transform: none;
      }
    }

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      object-position: top;
    }
  }

  h2 {
    position: relative;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    color: grey;
    letter-spacing: 5px;
    padding: 40px;
    margin: 0;

    a {
      position: absolute;
      top: 30px;
      left: 70px;
      font-size: 16px;
      text-transform: uppercase;
      border-radius: 5px;
      padding: 5px 10px;
      text-decoration: none;
      background: rgb(212, 124, 0);
      color: #fff;
      letter-spacing: 0;
      transition: all 0.3s ease;

      &:hover {
        background: rgb(187, 109, 0);
      }

      &:active {
        background: rgb(212, 124, 0);
      }
    }
  }

  .selectorsHeadlines {
    height: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 185px;
    margin: 0 70px;

    span {
      height: 100%;
      font-size: 16px;
      color: grey;
      text-transform: uppercase;
      letter-spacing: 2px;
    }
  }

  .newsSelectors {
    height: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 185px;
    margin: 0 70px 20px;

    select {
      height: 100%;
      border: solid 0.5px rgb(201, 201, 201);
      background: #fff;
      color: rgb(170, 170, 170);
      font-size: 16px;
      text-transform: uppercase;
      letter-spacing: 2px;
      padding: 10px;
      cursor: pointer;
      appearance: none;
      background-image: url("../../../../../assets/arrow.png");
      background-origin: content-box;
      background-position: right center;
      background-repeat: no-repeat;
      background-size: 16px;
      border-radius: 5px;
    }

    .search {
      height: 100%;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-between;

      input {
        height: 100%;
        width: 100%;
        border: solid 0.5px rgb(201, 201, 201);
        background: #fff;
        color: rgb(170, 170, 170);
        font-size: 16px;
        letter-spacing: 2px;
        padding: 10px 45px 10px 10px;
        border-radius: 5px;

        &::placeholder {
          color: rgb(170, 170, 170);
          font-size: 16px;
          text-transform: uppercase;
          letter-spacing: 2px;
          padding: 0px;
        }

        &:focus {
          border: 0.5px solid rgb(212, 124, 0);
        }
      }

      button {
        cursor: pointer;
        position: absolute;
        top: 20%;
        left: 83%;
        background: none;
        border: none;

        span {
          font-size: 30px;
          color: rgb(170, 170, 170);
          transition: all 0.3s ease;

          &:hover {
            transform: scale(120%);
          }

          &:active {
            transform: scale(100%);
          }
        }
      }
    }
  }

  .empty-news {
    color: grey;
    font-size: 16px;
    padding: 20px 70px;
    margin: 0;
  }

  .news {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    padding: 20px 70px 0;
  }

  .pagination-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0;

    .pagination ::ng-deep .ngx-pagination {
      margin: 0;
    }

    .pagination ::ng-deep .ngx-pagination li a {
      font-size: 16px;
      color: rgb(94, 94, 94);
      transition: all 0.3s ease;

      &:hover {
        color: #fff;
        background: rgb(170, 170, 170);
        border-radius: 5px;
      }
    }

    .pagination ::ng-deep .ngx-pagination .current {
      font-size: 16px;
      background: rgb(100, 100, 100);
      border-radius: 5px;
    }

    .pagination ::ng-deep .ngx-pagination {
      padding: 0;
    }
  }
}

@media screen and (max-width: 1200px) {
  .news-container {
    .banner {
      p {
        top: 30%;
      }
    }
  }
}

@media screen and (max-width: 1050px) {
  .news-container {
    .banner {
      p {
        width: 800px;
        top: 20%;
        font-size: 40px;

        span {
          font-size: 25px;
          font-weight: 300;
          text-transform: none;
        }
      }
    }

    h2 {
      a {
        font-size: 14px;
      }
    }

    .selectorsHeadlines {
      gap: 120px;

      span {
        width: 100%;
        font-size: 16px;
        letter-spacing: 0px;
      }
    }

    .newsSelectors {
      gap: 120px;

      select {
        width: 100%;
        font-size: 14px;
        letter-spacing: 0px;
      }

      .search {
        input {
          font-size: 14px;
          letter-spacing: 0px;

          &::placeholder {
            font-size: 14px;
            letter-spacing: 0px;
          }
        }

        button {
          left: 75%;
        }
      }
    }

    .news {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

@media screen and (max-width: 850px) {
  .news-container {
    .banner {
      p {
        width: 600px;
        font-size: 25px;
        line-height: 40px;

        span {
          font-size: 20px;
        }
      }
    }

    h2 {
      font-size: 25px;
      letter-spacing: 0;

      a {
        left: 50px;
      }
    }

    .selectorsHeadlines {
      gap: 50px;
      margin: 0 50px;
    }

    .newsSelectors {
      gap: 50px;
      margin: 0 50px 20px;
    }

    .empty-news {
      font-size: 14px;
    }

    .news {
      grid-template-columns: repeat(2, 1fr);
      padding: 20px 50px;
    }

    .pagination-container {
      .pagination ::ng-deep .ngx-pagination li a {
        font-size: 14px;
      }

      .pagination ::ng-deep .ngx-pagination .current {
        font-size: 14px;
      }
    }
  }
}

@media screen and (max-width: 650px) {
  .news-container {
    .banner {
      p {
        width: 220px;
        font-size: 20px;
        line-height: 30px;

        span {
          font-size: 16px;
        }
      }
    }

    h2 {
      font-size: 20px;
      letter-spacing: 0;
      padding-bottom: 80px;

      a {
        left: 42%;
        top: 55%;
      }
    }

    .selectorsHeadlines {
      display: none;
    }

    .newsSelectors {
      height: auto;
      display: flex;
      flex-direction: column;
      gap: 10px;

      .search {
        button {
          top: 10%;
          left: 92%;
        }
      }
    }

    .news {
      grid-template-columns: repeat(1, 1fr);
    }

    .pagination-container {
      margin: 20px 0;

      .pagination ::ng-deep .ngx-pagination .pagination-previous {
        display: none;
      }

      .pagination ::ng-deep .ngx-pagination .pagination-next {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 550px) {
  .news-container {
    h2 {
      a {
        left: 39%;
      }
    }

    .newsSelectors {
      margin: 0 20px 20px;
    }

    .news {
      padding: 20px 20px 0;
    }
  }
}

@media screen and (max-width: 450px) {
  .news-container {
    h2 {
      a {
        left: 38%;
      }
    }

    .newsSelectors {
      .search {
        button {
          left: 90%;
        }
      }
    }
  }
}

@media screen and (max-width: 370px) {
  .news-container {
    h2 {
      a {
        left: 35%;
      }
    }

    .newsSelectors {
      .search {
        button {
          left: 88%;
        }
      }
    }
  }
}

@media screen and (max-width: 330px) {
  .news-container {
    h2 {
      a {
        left: 32%;
      }
    }

    .newsSelectors {
      margin: 0 10px 20px;
    }

    .news {
      padding: 20px 10px 0;
    }

    .newsSelectors {
      .search {
        button {
          left: 80%;
        }
      }
    }
  }
}

@media screen and (max-width: 300px) {
  .news-container {
    .newsSelectors {
      .search {
        button {
          left: 75%;
        }
      }
    }
  }
}
